<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../css/AdminLTE.min.css">
    <link rel="stylesheet" href="../css/skins/_all-skins.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>
  <body onload="getdata();">
    <ion-view view-title="Liste des entreprises">
      <ion-content class="padding">
        <section class="content">
          <div class="row">
          <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Liste des entreprises</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <ul class="products-list product-list-in-box">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
    </ion-content>
  </ion-view>
  <script>
  function getdata(){
    $.ajax({
          type: "GET",
          url : "http://92.222.75.102/entreprise/index.php/api/v1/entreprise",
          success: function(data) {
            var obj = JSON.parse(data);
            var n = obj.length;
            for (i = 0; i < n; i++) {
                var html = '<li class="item"><div class="product-img"><img src="../img/default-50x50.gif" alt="Product Image"></div><div class="product-info"><a href="" class="product-title">'+ obj[i].libelle +'<span class="label label-warning pull-right">' + obj[i].telephone + '</span></a><span class="product-description">' + obj[i].adresse + '</span></div></li>';
                $(".products-list.product-list-in-box").append(html);
            }
          }
    });
  }
  </script>
  </body>
</html>
